system/system/apex/com.android.vndk.current.apex
system/system/data-app/MIBrowserGlobal/MIBrowserGlobal.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/system_ext/priv-app/Settings/Settings.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/app/Messages/Messages.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
